<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <div th:replace="fragments/header::header-css"/>
</head>
<body>

<div th:replace="fragments/header::header"/>

<div class="container">

    <div class="main-content" style="flex-direction: column; font-size: 20px;">
        <p>Автор программы: Раджабова Юлия Александровна</p>
        <p>Номер задания: 17</p>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>